<!DOCTYPE html>
<html>
<head>
    <title><%= stateData.stateName %></title>
</head>
<body>
    <h1><%= stateData.stateName %></h1>
    <p>Cuisine: <%= stateData.cuisine %></p>
    <p>Art: <%= stateData.art %></p>
    <p>Music: <%= stateData.music %></p>
    <img src="<%= stateData.imageURL[0] %>">
    <img src="<%= stateData.imageURL[1] %>">
</body>
</html> 
