<!DOCTYPE html>
<html>
<head>
    <title><%= stateData.stateName %></title>
    <style>
        body{
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZtR-N6V2D1o07gDVj0eFnOaMFxWsjLjw85Q&usqp=CAU');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    
    <h1><%= stateData.stateName %></h1>
    <p>Cuisine: <%= stateData.cuisine %></p>
    <!--
    <p>Art: <%= stateData.art %></p>
    <p>Music: <%= stateData.music %></p>
    <img src="<%= stateData.imageURL[0] %>">
    <img src="<%= stateData.imageURL[1] %>">
     Example Canva embed code -->
    <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="<%= stateData.videoURL %>" allowfullscreen="allowfullscreen" allow="fullscreen" autoplay muted>
  </iframe>
</div>


</body>
</html> 
